@font-face{
    font-family: "Comfortaa";
    src: url("fonts/Comfortaa-Light.ttf")
}

@font-face{
    font-family: "PermanentMarker";
    src: url("fonts/PermanentMarker-Regular.ttf")
}

@font-face{
    font-family: "Abel";
    src: url("fonts/Abel-Regular.ttf")
}

@font-face{
    font-family: "Alex";
    src: url("fonts/AlexBrush-Regular.ttf")
}

@font-face{
    font-family: "Berkshire";
    src: url("fonts/BerkshireSwash-Regular.ttf")
}

body{
   margin: 0;
   padding: 0;
   max-height: 100%;
   background-color: #f4f4f4;
   font-family: 'Abel';
   display: flex;
   transition: 0.5s;
}

body.dark{
    transition: 0.5s;
    background-color: #141d26;
    color: #fff;
}

body.dark input{
    background-color: #243447;
    color: #fff;
    transition: 0.5s;
}

body.dark #category-selector li, body.dark .card, body.dark #font-style, body.dark #font-size-circle, body.dark #font-color, body.dark .deck, body.dark .box{
    background-color: #243447;
    color: #fff;
}


#sign-in, #sign-up{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

#sign-in .logo{
    height: 100px;
}

#sign-up .back-button{
    position: absolute;
    top: 0;
}

.box{
    background-color: #FFF;
    padding: 16px;
    margin: 32px;
    margin-bottom: 16px;
    max-width: 500px;
    align-self: center;
    flex: 1;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll
}

.login-header{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 150px
}

.login-header h4{
    font-size: 12px;
    color: #818181
}

#sign-in .button, #sign-up .button{
    width: 70%;
}

#new-user-pic{
    align-self: center;
    height: 62px;
    width: 62px;
    border-radius: 62px;
}

#header-gradiente{
    height: 45vh;
    position: fixed;
    width: 100%;
    z-index: -999999999;
    top: -3;
    align-self: center;
    border-radius: 3px;
}

#sign-in input, #sign-up input{
    width: 100%;
    border: none;
    height: 41px;
    font-family: 'Abel';
    font-size: 16px;
    border-bottom: solid 2px #12c2e9;
    margin-bottom: 16px;
    background-color: transparent;
    border-radius: 2px;
    box-shadow: none;
}

#home{
   width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

#dark-mode{
    width: 21px;
    height: 21px;
    background-position: center;
    background-size: contain;
    padding: 8px
}

#new-deck{
    background-image: linear-gradient(to bottom right, #12c2e9, #c471ed);
    z-index: 9999999999;
}

#action-bar{
    height: 42px;
    padding: 0 16px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#action-bar > .buttons{
    width: 100%;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

#action-bar .buttons > img{
    height: 21px;
    width: 21px;
    padding: 8px;
    align-self: flex-end;
}

.logo h1{
    font-size: 16px;
    color: #FFF;
}


.blured-image-container{
    height: 145px;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: -9999999;
}

#blured-image{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(0.7)blur(20px);
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #FFF;
}

.profile-pic{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 55px;
    min-width: 55px;
    border-radius: 100%;
    border: 3px solid #fff;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
}

#header .profile-bio h2{
    font-weight: 700;
    font-size: 21px;
    margin: 0;
    padding: 0;
    text-align: right
}

#header .profile-bio h3{
    font-weight: 100;
    margin: 0;
    font-size: 16px;
    text-align: right;
}

#header .profile-bio h3::after{
    content: " Decks"
}

#list-selector{
    margin: 16px;
    display: flex;
    justify-content: space-between;
}

#list-selector li{
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: center;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#list-selector li.selected{
    font-weight: 700;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.deck-category > h1{
    font-size: 16px;
    margin: 0px 16px;
    font-weight: 700;
    padding: 8px 6px;
    border-left: 4px solid #12c2e9;
}


.category-container{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 16px;
    margin: 0;
}

.category-container::after{
    content: '';
    min-width: 16px;
    min-height: 16px;
}

.deck{
    background-color: #FFF;
    margin-right: 16px;
    border-radius: 5px;
    min-width: 178px;
    max-width: 178px;
    height: 89px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.2);
}

#store > .deck::after{
    content: '';
    width: 21px;
    height: 21px;
    position: absolute;
    background-image: url(../img/crown.svg);
    background-position: center;
    background-size: contain;
    top: 8;
    font-size: 12px;
}

.deck:hover{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.deck h1{
    font-size: 16px;
    text-align: center;
    margin: 16px 0 16px 0;
}

.deck h2{
    font-size: 16px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    margin: 0;
    font-weight: 100;
}

.hide{
    display: none!important;
}

.header{
    min-height: 41px;
    display: flex;
    align-items: center;
    margin: -16px -16px 16px -16px;
}

.header > h3{
    margin: 0;
    padding: 0;
    align-self: center;
    color: #818181;
    font-size: 14px
}

.back-button{
    height: 21px;
    width: 21px;
    background-position: center;
    align-self: flex-start;
    padding: 12px;

}

#deck-creator, #settings, #study{
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll
}

input{
    width: 100%;
    border: none;
    height: 64px;
    padding: 16px;
    border-radius: 3px;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
    font-family: 'Abel';
    font-size: 16px;
    margin-bottom: 16;
    transition: 0.5s;
}

.flex-1{
    flex: 1;
    overflow-y: scroll
}

#deck-creator h1, #settings h1{
    padding: 0;
    margin: 0 0 16 0;
    font-size: 20px;
}

#category-selector{
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    flex: 1;
    justify-content: center;
    align-content: flex-start;
    min-height: 300px
}

#category-selector li{
    background-color: #FFF;
    height: 41px;
    min-width: 70px;
    border-radius: 34px;
    margin: 8px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
     box-shadow: 3px 3px 15px rgba(0,0,0,0.2)
}

#category-selector .selected{
    background-image: linear-gradient(to bottom right, #12c2e9, #c471ed);
    color: #FFF;
}

#card-creator{
    min-height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    font-family: Abel;
    flex: 1;
}

#font-color{
    min-height: 41px;
    width: 100%;
    min-width: 50px;
     max-width: 500px;
    background-color: #fff;
    align-self: center;
    border-radius: 50px;
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

#font-style{
    min-height: 64px;
    min-width: 64px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#font-style > p{
    font-size: 20px;
    margin: 0;
    padding: 0;
}


#font-color > li{
    height: 24px;
    min-width: 24px;
    border-radius: 24px;
}

        .red{
            background-color: #f77171;
        }

        .orange{
           background-color: #ffa032;
           color: #ffa032
        }

        .yellow{
            background-color: #fac817;
            color: #fac817;
        }

        .green{
           background-color: #62cc51;
           color: #62cc51
        }

        .blue{
           background-color: #2ac0d4;
           color: #DDDDDD;
        }

        .purple{
            background-color: #c365f4;
            color: #c365f4
        }

        .pink{
           background-color: #ff98d4;
           color: #ff98d4
        }

        body.dark .black{
            background-color: #fff;
            color: "#FFF"
        }

        .black{
           background-color: #3b3b3b;
           color: #3b3b3b
        }

        .galaxy{
            background-image: linear-gradient(to bottom right, #12c2e9, #c471ed);
            color: #FFF
        }

#font-size{
    width: 70%;
    max-width: 500px;
    align-self: center;
    padding: 20px 0px;
    min-width: 100px;
    position: relative
}

#font-size-bar{
    height: 8px;
    background-color: #C1C1C1;
    border-radius: 60px;
    display: flex;
    align-items: center;
}

.row-between{
    display: flex;
    justify-content: space-between;
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    min-height: 61px;
    justify-content: space-around;
    margin-bottom: 16px;
    min-height: 100px,
}

#font-size-circle{
    height: 24px;
    width: 24px;
    background-color: #FFF;
    border-radius: 24px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    position: absolute;
    margin-top: -8px;
    transition: 0.3s
}

.card{
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px
}

.creator{
    flex: 1;
    width: 100%;
    margin-top: 16px;
}

.actions{
    min-height: 64px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;

}

.button{
    border: none;
    min-height: 21px;
    max-width: 400px;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 12px;
    color: #FFF;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.2)
}

.button:hover{
    box-shadow: 2px 2px 15px rgba(0,0,0,0.1)
}

.button-text{
    border: none;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 16px;
    font-size: 12px;
}

#card-text{
    font-size: '20px';
    text-align: center;
    padding: 0px 8px;
    border-radius: 3px
}

#card-input{
    position: absolute;
    top: -1000;
    opacity: 0;
}

#flashcard-creator{
    max-width: 500px;
    align-self: center;
}

#flashcard-creator-flip{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px;
    background-image: url(../img/exchange.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#study-deck-name{
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}

#card-scroll{
    flex: 1;
    display: flex;
}

#card-scroll ul{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#card-scroll ul li{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    border-radius: 10px;
    max-width: 500px;
}

.flip{
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateY(-20px);
    transition: 0.5s;
    transform-style: preserve-3d;
}

.flip.is-flipped{
    transform: translateY(-20px) rotateY(180deg);
}

.flip > h1 {
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    position: absolute;
    height: 100%;
    width: 100%
}
.flip .front{

    transform: rotateY(0deg)
}
.flip .back{

    transform: rotateY(180deg)
}
#card-scroll ul li:nth-child(1){
    transform: translateY(-59px) translateX(0) scale(0.5);
    opacity: 0;
    color: transparent;
}
#card-scroll ul li:nth-child(2){
    transform: translateY(-40px) scale(0.8);
    opacity: 0.8;
    color: transparent
}
#card-scroll ul li:nth-child(3){
    transform: translateY(-20px) scale(0.85);
    color: transparent
}
#card-scroll ul li:nth-child(4){
    transform: translateY(0px) scale(0.90);
    opacity: 1;
}
#card-scroll ul li:nth-child(5){
    transform: translateY(50px) translateX(-100px) scale(1) rotate(-25deg);
    opacity: 0;
    transform-origin: 50% 100%;
}

#card-scroll.forgot ul li:nth-child(5){
    transform: translateY(50px) translateX(100px) scale(1) rotate(25deg);
    opacity: 0;
    transform-origin: 50% 100%;
}

#study .actions{
    min-height: 42px;
    align-content: center;
    justify-content: center;
}

.floating-button{
    height: 42px;
    width: 42px;
    background-image: linear-gradient(to bottom right, #12c2e9, #c471ed);
    display: flex;
    align-items: flex-end;
    padding: 16px;
    position: fixed;
    bottom: 0;
}

.floating-button svg{
    height: 21px;
    width: 21px;
    z-index: 9999999999;
}

.floating-button.right{
    justify-content: flex-end;
    padding: 16px;
    border-top-left-radius: 100%;
    right: 0;
}

.floating-button.left{
    justify-content: flex-start;
    border-top-right-radius: 100%;
    left: 0;
}

#flip-card{
    padding: 16px
}

#forgot{

}

#remember{

}
